<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Images</title>
</head>
<body>
    <h1>All Images</h1>
    <div>
        {% for image in images %}
            <div>
                <img src="/get_image/{{ image }}" alt="{{ image }}" width="200"/>
            </div>
        {% endfor %}
    </div>
    <a href="/">Go Back</a>
</body>
</html>
