<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Successful</title>
</head>
<body>
    <h1>Upload Successful!</h1>
    <p>File {{ filename }} has been uploaded.</p>
    <p>Predicted Class: {{ predicted_class }} with probability {{ (probability * 100) | round(2) }}%</p>

    <h2>Class Probabilities:</h2>
    <ul>
        {% for class, prob in probabilities.items() %}
            <li>{{ class }}: {{ (prob * 100) | round(2) }}%</li>
        {% endfor %}
    </ul>
    <a href="/">Go Back</a>
</body>
</html>
